<div class="postTitle">
  <%= @post.text %>
</div>
<div class="postDate">
<video src="@post.video"></video>

</div>
<div class="postAuthor">
</div>



<video controls="controls" width="700" height="350">
  <source src="<%=@post.video%>" >
</video>