<div class="postTitle">
  <%= @post.text %>
</div>
<div class="postDate">
<video src=<ActionDispatch::Http::UploadedFile:0x00007ff2cc072c60>></video>
  <%# <%= @post.video %> 
</div>
<div class="postAuthor">
</div>
