
//  *= require_tree .
//  *= require_self
//  */

@import "bootstrap";
@import 'font-awesome-sprockets';
@import 'font-awesome';

.content{
  background-color: #D8D8D8;
  height: calc(100vh - 80px);
  width: 100vw;
}
.postTitle{
  font-weight: 900;
  font-size: xx-large;
  font-family: 'ヒラギノ角ゴ Std W8';  
  text-align: center;
  color: #333333;
}
.show__video{
  text-align: center;
  video{
    margin-top: 10px;
    background: #333333;
  }
}
.coment{
  margin: 0 auto;
  width:700px;
  height:300px;
  position: relative;
  overflow: scroll;
  &__list{
    font-family: 'ヒラギノ角ゴ Std W8';  
    font-size: 30px;
    color: #333333;
  }
  
  .form{
  position: absolute;
  bottom: 5px;
  position: fixed;
  &__title{
    width: 650px;
    height: 70px;
  .btn{
    color: orange;
  }
  }

  
  }
}

.container-login {
  @extend .container-fluid;
  max-width: 576px;
  padding: 2rem;
}

// 「ログインしました」などのフラッシュ用スタイル

.alert-notice {
  @extend .alert-info;
}

.alert-alert {
  @extend .alert-danger;
}

body{
  background-color: #D8D8D8;
  height: calc(100vh - 80px);
  width: 100vw;
}